<section class="flex flex-col mb-10">
  <div class="flex gap-3 items-center mb-3">
    <i>
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75rem" height="1.75rem" viewBox="0 0 36 36">
        <path fill="#c0c0c0"
              d="M30 9H16.42l-2.31-3.18A2 2 0 0 0 12.49 5H6a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V11a2 2 0 0 0-2-2m0 20H6V13h7.31a2 2 0 0 0 2-2H6V7h6.49l2.61 3.59a1 1 0 0 0 .81.41H30Z"
              class="clr-i-outline clr-i-outline-path-1"/>
        <path fill="none" d="M0 0h36v36H0z"/>
      </svg>
    </i>
    <h4 class="text-xl">My projects</h4>
  </div>
  <div class="grid grid-cols-4 gap-5">
    <app-project-card *ngFor="let project of projectService.projects" [project]="project"></app-project-card>
  </div>
</section>
