<section class="flex flex-col ">
  <div class="flex gap-3 items-center mb-3">
    <i>
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75rem" height="1.75rem" viewBox="0 0 24 24">
        <path fill="#c0c0c0" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"/>
      </svg>
    </i>
    <h4 class="text-xl">Add more notes</h4>
  </div>
  <div class="flex flex-col gap-3">

    <div class="bg-background-card p-5 rounded-lg shadow-md flex items-center cursor-pointer gap-3" (click)="onClickSummarise()">
      <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="addMoreSize" [attr.height]="addMoreSize"
           viewBox="0 0 24 24">
        <path fill="#c0c0c0" d="M4 9h16v2H4zm0 4h10v2H4z"/>
      </svg>
      <p class="font-semibold">{{ActionType.Summarise}}</p>
    </div>

    <div class="bg-background-card p-5 rounded-lg shadow-md flex items-center cursor-pointer gap-3" (click)="onClickKeySentences()">
      <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="addMoreSize" [attr.height]="addMoreSize"
           viewBox="0 0 24 24">
        <path fill="#c0c0c0"
              d="M7 9V7h14v2zm0 4v-2h14v2zm0 4v-2h14v2zM4 9q-.425 0-.712-.288T3 8q0-.425.288-.712T4 7q.425 0 .713.288T5 8q0 .425-.288.713T4 9m0 4q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11q.425 0 .713.288T5 12q0 .425-.288.713T4 13m0 4q-.425 0-.712-.288T3 16q0-.425.288-.712T4 15q.425 0 .713.288T5 16q0 .425-.288.713T4 17"/>
      </svg>
      <p class="font-semibold">{{ ActionType.KeySentences }}</p>
    </div>

    <div class="bg-background-card p-5 rounded-lg shadow-md flex items-center cursor-pointer gap-3" (click)="onClickTranslate()">
      <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="addMoreSize" [attr.height]="addMoreSize"
           viewBox="0 0 24 24">
        <path fill="#c0c0c0"
              d="m11.9 22l4.55-12h2.1l4.55 12H21l-1.075-3.05h-4.85L14 22zM4 19l-1.4-1.4l5.05-5.05q-.875-.875-1.588-2T4.75 8h2.1q.5.975 1 1.7t1.2 1.45q.825-.825 1.713-2.313T12.1 6H1V4h7V2h2v2h7v2h-2.9q-.525 1.8-1.575 3.7t-2.075 2.9l2.4 2.45l-.75 2.05l-3.05-3.125zm11.7-1.8h3.6l-1.8-5.1z"/>
      </svg>
      <p class="font-semibold">{{ActionType.Translate}}</p>
    </div>

    <div class="bg-background-card p-5 rounded-lg shadow-md flex items-center cursor-pointer gap-3" (click)="onClickImageToText()">
      <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="addMoreSize" [attr.height]="addMoreSize"
           viewBox="0 0 24 24">
        <path fill="#c0c0c0"
              d="m11.9 22l4.55-12h2.1l4.55 12H21l-1.075-3.05h-4.85L14 22zM4 19l-1.4-1.4l5.05-5.05q-.875-.875-1.588-2T4.75 8h2.1q.5.975 1 1.7t1.2 1.45q.825-.825 1.713-2.313T12.1 6H1V4h7V2h2v2h7v2h-2.9q-.525 1.8-1.575 3.7t-2.075 2.9l2.4 2.45l-.75 2.05l-3.05-3.125zm11.7-1.8h3.6l-1.8-5.1z"/>
      </svg>
      <p class="font-semibold">{{ActionType.ImageToText}}</p>
    </div>
  </div>
</section>
