<div class="min-h-screen w-full grid grid-cols-dashboard grid-rows-dashboard gap-5 py-5 px-10 bg-background">
  @if (fileUploadDialogHidden) {
    <!-- Welcome message -->
    <div class="col-span-2 mb-5 flex justify-between">
      <div class="flex flex-col">
        <h3 class="text-2xl font-bold">Welcome, Betty!</h3>
        <p>It's good to have you back.</p>
      </div>

      <!-- Search Bar -->
      <div class="flex items-center px-3 py-2 bg-gray-200 rounded-lg focus-within:ring-2">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/>
          </svg>
        </i>
        <input type="text" placeholder="Search..."
               class="border-transparent bg-transparent focus:outline-none">
      </div>
    </div>

    <!-- Projects Component -->
    <app-my-projects class="col-span-1 overflow-y-auto"></app-my-projects>

    <!-- Add More Notes Component -->
    <app-add-more-notes class="col-span-1" (fileUploadDialogOpenedEmitter)="handleFileUploadDialogOpen($event)">
    </app-add-more-notes>

    <!-- Latest Notes Section -->
    <section class="flex flex-col col-span-2">
      <div class="flex gap-3 items-center mb-3">
        <i>
          <!-- SVG icon for Latest Notes -->
          <svg xmlns="http://www.w3.org/2000/svg" width="1.75rem" height="1.75rem" viewBox="0 0 24 24">
            <path fill="#c0c0c0"
                  d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v12q0 .825-.587 1.413T18 22zm7-13V4H6v16h12V9zM6 4v5zv16z"/>
          </svg>
        </i>
        <h4 class="text-xl">Jump back in...</h4>
      </div>
      <div class="grid grid-cols-3 gap-5">
        <!-- Note Cards -->
        <app-note-card *ngFor="let document of documentResultStore.getLatestNotesValue()"
                       [document]="document"></app-note-card>
      </div>
    </section>

  } @else {
    <app-file-upload-dialog [actionType]="fileUploadDialogActionType"
                            (closeDialogEmitter)="handleFileUploadDialogClosed($event)">
    </app-file-upload-dialog>
  }
</div>
