<!-- Conditionally rendering content based on fileUploadDialogHidden -->
<div *ngIf="fileUploadDialogHidden; else uploadDialog" class="h-full w-full grid grid-cols-dashboard grid-rows-dashboard gap-5 py-5 px-10 bg-background">
  <!-- Welcome message -->
  <div class="col-span-2 mb-5">
    <h3 class="text-2xl font-bold">Welcome, Betty!</h3>
    <p>It's good to have you back.</p>
  </div>

  <!-- Projects Component -->
  <app-my-projects class="col-span-1 overflow-y-auto"></app-my-projects>

  <!-- Add More Notes Component -->
  <app-add-more-notes class="col-span-1" (fileUploadDialogOpenedEmitter)="handleFileUploadDialogOpen($event)">
  </app-add-more-notes>

  <!-- Latest Notes Section -->
  <section class="flex flex-col col-span-2">
    <div class="flex gap-3 items-center mb-3">
      <i>
        <!-- SVG icon for Latest Notes -->
        <svg xmlns="http://www.w3.org/2000/svg" width="1.75rem" height="1.75rem" viewBox="0 0 24 24">
          <path fill="#c0c0c0" d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v12q0 .825-.587 1.413T18 22zm7-13V4H6v16h12V9zM6 4v5zv16z"/>
        </svg>
      </i>
      <h4 class="text-xl">Jump back in...</h4>
    </div>
    <div class="grid grid-cols-3 gap-5">
      <!-- Note Cards -->
      <app-note-card *ngFor="let document of fileService.recentDocuments" [document]="document"></app-note-card>
    </div>
  </section>
</div>

<!-- Alternative content when fileUploadDialogHidden is false -->
<ng-template #uploadDialog>
  <app-file-upload-dialog [actionType]="fileUploadDialogActionType" (closeDialogEmitter)="fileUploadDialogHidden = true">
  </app-file-upload-dialog>
</ng-template>
