<div class="h-screen max-w-screen-xl items-center flex flex-col gap-5 py-5 px-10">
  <!-- Search bar and profile settings + greeting -->
  <section class="w-full flex flex-col gap-10 mb-10">
    <div class="flex justify-between items-center">
      <div class="flex items-center px-3 bg-gray-200 rounded-lg focus-within:ring-2">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/>
          </svg>
        </i>
        <input type="text" placeholder="Search..."
               class="border-transparent bg-transparent focus:border-transparent focus:ring-0">
      </div>
      <div class="flex">
        <img src="https://via.placeholder.com/150" alt="profile picture" class="rounded-full h-12 w-12">
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Welcome, Betty!</h3>
      <p>It's good to have you back</p>
    </div>
  </section>

  <!--Latest notes -->
  <section class="w-full flex flex-col mb-10">
    <h6 class="text-xl">Jump back in...</h6>
    <div class="grid grid-cols-3 gap-5">
      <div class="bg-white p-5 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold">Note 1</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum."
        </p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold">Note 2</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum."
        </p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold">Note 3</h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum."
        </p>
      </div>
    </div>
  </section>

  <!-- Add more notes -->
  <section class="w-full flex flex-col">
    <h6 class="text-xl">Add more notes</h6>
    <div class="grid grid-cols-3 gap-5">
      <div class="bg-white p-5 rounded-lg shadow-md flex flex-col items-center justify-between cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" viewBox="0 0 24 24">
          <path fill="#c0c0c0" d="M4 9h16v2H4zm0 4h10v2H4z"/>
        </svg>
        <p class="font-semibold">Summarise a document</p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow-md flex flex-col items-center justify-between cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" viewBox="0 0 24 24">
          <path fill="#c0c0c0"
                d="M7 9V7h14v2zm0 4v-2h14v2zm0 4v-2h14v2zM4 9q-.425 0-.712-.288T3 8q0-.425.288-.712T4 7q.425 0 .713.288T5 8q0 .425-.288.713T4 9m0 4q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11q.425 0 .713.288T5 12q0 .425-.288.713T4 13m0 4q-.425 0-.712-.288T3 16q0-.425.288-.712T4 15q.425 0 .713.288T5 16q0 .425-.288.713T4 17"/>
        </svg>
        <p class="font-semibold">Get key points from a document</p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow-md flex flex-col items-center justify-between cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" viewBox="0 0 24 24">
          <path fill="#c0c0c0"
                d="m11.9 22l4.55-12h2.1l4.55 12H21l-1.075-3.05h-4.85L14 22zM4 19l-1.4-1.4l5.05-5.05q-.875-.875-1.588-2T4.75 8h2.1q.5.975 1 1.7t1.2 1.45q.825-.825 1.713-2.313T12.1 6H1V4h7V2h2v2h7v2h-2.9q-.525 1.8-1.575 3.7t-2.075 2.9l2.4 2.45l-.75 2.05l-3.05-3.125zm11.7-1.8h3.6l-1.8-5.1z"/>
        </svg>
        <p class="font-semibold">Translate a document</p>
      </div>
    </div>
  </section>
</div>
