<main class="h-screen w-screen flex">
  <!-- Sidebar -->
  <nav class="fixed h-screen z-50 w-sidebar flex-col items-center bg-background-sidebar px-5 py-8 shadow-md"
       [ngClass]="!tokenService.isAuthenticated() ? 'hidden' : 'flex'">
    <!-- Logo -->
    <img src="assets/document-distiller-logo-removebg-preview.png" alt="logo" class="w-full h-12">
    <button (click)="createNewProject()" class="mt-8 my-10 bg-button text-text-light px-5 py-3 rounded-lg w-full">+ New
      Project
    </button>

    <!-- Menu -->
    <div class="flex flex-col flex-grow gap-2 justify-between">
      <!-- Top -->
      <div class="flex flex-col gap-2">
        <app-menu-item title="Dashboard" class="w-full" (click)="goToDashboard()">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
            <path fill="#c0c0c0" d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6z"/>
          </svg>
        </app-menu-item>

        <app-menu-item title="Projects" class="w-full" [children]="projectMenuItems">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 36 36">
            <path fill="#c0c0c0"
                  d="M30 9H16.42l-2.31-3.18A2 2 0 0 0 12.49 5H6a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V11a2 2 0 0 0-2-2m0 20H6V13h7.31a2 2 0 0 0 2-2H6V7h6.49l2.61 3.59a1 1 0 0 0 .81.41H30Z"
                  class="clr-i-outline clr-i-outline-path-1"/>
            <path fill="none" d="M0 0h36v36H0z"/>
          </svg>
        </app-menu-item>
      </div>

      <!-- Bottom -->
      <div class="flex flex-col gap-2">
        <app-menu-item title="Profile" class="w-full">
          <img src="https://via.placeholder.com/150" alt="profile picture" class="rounded-full h-8 w-8">
        </app-menu-item>

        <app-menu-item title="Log Out" class="w-full" (click)="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
            <path fill="#c0c0c0"
                  d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"/>
          </svg>
        </app-menu-item>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="flex flex-col items-center bg-background-sidebar"
       [ngClass]="!tokenService.isAuthenticated() ? 'ml-0' : 'ml-sidebar'">
    <router-outlet></router-outlet>
  </div>
</main>

