<section class="flex flex-col gap-10 p-5">
  <div class="flex justify-between items-center">
    <div class="flex items-center px-3 bg-gray-200 rounded-lg focus-within:ring-2">
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path fill="currentColor"
                d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/>
        </svg>
      </i>
      <input type="text" placeholder="Search..."
             class="border-transparent bg-transparent focus:border-transparent focus:ring-0">
    </div>
    <div class="flex items-center gap-4">
      <button (click)="logoutEmitter.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" viewBox="0 0 24 24">
          <path fill="#c0c0c0"
                d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"/>
        </svg>
      </button>
      <img src="https://via.placeholder.com/150" alt="profile picture" class="rounded-full h-12 w-12">
    </div>
  </div>
</section>
