<div class="bg-gray-200 z-20 h-screen w-screen-no-sidebar relative">
  <dialog
    class="bg-surface-mixed-500 flex flex-col justify-between gap-4 px-5 py-3 rounded-xl shadow-xl bg-white absolute top-1/4 -translate-y-1/4"
    [ngStyle]="{minWidth: minWidth, maxWidth: maxWidth, minHeight: minHeight}">
    <div class="flex justify-between items-start">
      <h3 class="text-xl">{{ title }}</h3>
      <button (click)="closeDialogEmitter.emit(true)">
        <svg class="feather feather-x-square" fill="none" height="24" stroke="currentColor"
             stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
             xmlns="http://www.w3.org/2000/svg">
          <rect height="18" rx="2" ry="2" width="18" x="3" y="3"/>
          <line x1="9" x2="15" y1="9" y2="15"/>
          <line x1="15" x2="9" y1="9" y2="15"/>
        </svg>
      </button>
    </div>
    <ng-content></ng-content>
  </dialog>
</div>
